<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../CSS/light-switch.css">
    <title>IoT Smart Home Dashboard</title>
</head>

<body>
    <!-- Sidebar Navigation -->
    <div class="sidebar">
        <div class="profile">
            <div class="pfp">
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="username">Username</div>
        </div>
        <h2>Dashboard</h2>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Devices</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Account</a></li>
        </ul>
    </div>

    <!-- Main Content Area -->
    <div class="content">
        <div class="header">
            <h1>IoT Smart Home Dashboard</h1>
        </div>

        <!-- Controls inside the Container its centered for now since theres only one, it will be 5 or 4 for x amount of rows depending on how many controls-->
        <div class="container">
            <div class="light-control">
                <canvas id="lightCanvas" width="180" height="300"></canvas>
                <button id="toggleBtn" class="btn">Turn On</button>
            </div>
        </div>
    </div>

    <script src="../Scripts/lightSwitch.js"></script>
</body>

</html>